
body{
  background-color: black;
}

.mobile {
  margin-right: auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  //background-color: #212121;//
  position: relative;
  z-index: 1;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  z-index: 2;

}

.card {

  margin: 10px;
  padding: 10px;
  animation: cardEnter 0.5s ease forwards;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 1s ease, opacity 1s ease;
  position: relative;

  //background-color: #212121;//
}
@keyframes cardEnter {
  from {
    opacity: 0;
    transform: translateY(100%) translateZ(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0%) translateZ(0px);
  }
}

.cards-container {
  perspective: 1000px;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
}

.card:nth-child(even) {
  transform: translateZ(-200px);
}

.card:hover {
  transform: scale(1.04) !important;
}

.card:hover::before {
  content: '';
  position: absolute;
  top: -1%;
  left: -1%;
  right: -1%;
  bottom: -1%;
  border: 5px solid purple;
  z-index: -1;
  filter: blur(2px);
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 0 2px 10px purple !important;
}

.card img {
  width: 100%;
  height: auto;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination a {
  margin: 0 5px;
  padding: 5px 10px;
  background-color: #f5f5f5;
  text-decoration: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 930px;
  height: 1023px;
  background-color: #f5f5f5;
  padding: 20px;
  border-top-left-radius: 300px;
  border-bottom-right-radius: 300px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  margin-left: auto;
  width: 25px;
  height: 25px;
  color: #4c00fe;
}

.modal-details {
  display: flex;
  align-items: center;
}

.modal-poster {
  width: 360px;
  height: 641px;
  margin-top: 250px;
}
.modal-container {
  flex-direction: column;
}
.modal-info {
  margin-left: 20px;
}

.modal-buy-tickets {
  margin-top: 20px;
  margin-left: 20px;
}

.modal-more-info {
  margin-top: 20px;
  text-align: center;
  width: 255px;
  height: 40px;
  border: 1px solid #4c00fe;
  border-radius: 5px;
}
.more_info {
  color: #4c00fe;
  text-decoration: none;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 19.5px;
  margin-top: 10px;

}

@media (min-width: 1280px) {
  .cards {
    width: 1200px;
  }
  .card {
    width: 270px;
    height: 320px;
  }
  .card img {
    width: 267px;
    height: 220px;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {

  .cards {
    width: 768px;
  }
  .card {
    width: 152px;
    height: 211px;
  }
  .card img {
    width: 141px;
    height: 120px;
  }

  .modal-content {
    width: 595px;
    height: 831px;
  }
  .modal-poster {
    width: 233px;
    height: 416px;
    margin-top: 160px;
  }
}

@media (max-width: 767px) {
  .mobile {
    flex-direction: column;
  }
  .card {
    width: 130px;
    height: 208px;
  }
  .card img {
    width: 120px;
    height: 120px;
  }

  .modal-content {
    width: 272px;
    height: 915px;
  }

  .modal-poster {
    width: 102px;
    height: 102px;
    margin-top: 160px;
    border-radius: 50%;
  }

  .card .nombre {
    font-size: 14px;
    line-height: 17px;
  }
}

.location {
  display: flex;
  align-items: center;
}

.location i {
  margin-right: 5px;
}

.location-text {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 16px;
  line-height: 19.5px;
  text-align: center;


@media (max-width: 767px) {
	#modal-content {
		width: 280px;
		height: 952px;
		display: flex;
		flex-direction: column;
	}
	#modal-image {
		display: none;
	}
	#modal-upper {
		width: auto;
		height: auto;
		align-items: center;
		justify-content: center;
	}
	#info-lower {
		margin-left: 1px;
	}
	#modal-image-circular {
		width: 102px;
		height: 102px;
	}

}
