.fondoBanda{
 background-image: url("../images/picPC.png");
 background-size: cover;
 max-width: 1200px;
 height: 446px;
 margin-left: auto;
 margin-right: auto;
 @media (max-width:767px) {
    background-image: url("../images/picTABLET.png");
    background-size: cover;
    max-width: 768px;
    height: 364px;
 }
 @media (max-width: 320px) {
    background-image: url("../images/picMOBILE.png");
    background-size: cover;
    max-width: 320px;
    height: 364px;
    
 }
}
.fondoBlack{
    background-color: rgb(6, 6, 6);
    max-width: 1200px;
    height: 1466px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.logoEvento{
 background-image: url(../images/logoEventPC.png);
 margin-left: 0;
 margin-top: 0;
 width: 229px;
 height: 193px;
 @media (max-width:767px) {
    background-image: url("../images/logoEventTABLET.png");
    width: 179.5px;
    height: 151px;
 }
 @media (max-width:320px) {
    background-image: url("../images/logoEventMOBILE.png");
    width: 103.5px;
    height: 90px;
    
 }
}

.item{
position: absolute;
@media (max-width:767px) {
    display: none;
}

}
.D1{
top: 100px;
right: 100px;
@media (max-width:767px) {
    display:ruby;
}
}
.D2{
bottom: 0;
right: 100px;
}
.D3{
top: 500px;
left: 35px;
}
.D4{
bottom: 0;
left: 100px;
}
.D5{
top: 0px;
left: 100px;
}
.D6{
top: 0px;
right: 100px;
}
.D7{
bottom: 0px;
right: 100px;
}
.D8{
bottom: 0px;
left: 100px;
}
.D9{
    bottom: 500px;
    right: 35px;
}
.D10{
top: 460px;
left: 0px;
}
.D11{
top: 1230px;
right:0;
}


