

.title-modal {
  display: flex;
  font-size: 20px;
  justify-content: center;
  letter-spacing: 0.03em;
}

.input-modal {
  display: block;
  outline: none;
  width: 100%;
  height: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.input-modal:focus, .input-modal:hover {
  border: 1px solid #2196F3
}