<section>
    <header class="header">
        <div>
            <div>
              <svg class="vsg-logo">
                <use
                  class="vsg"
                  href="/src/images/svg/symbol-defs.svg#icon-logo"
                ></use>
              </svg>
            </div>
            <div class="content-title">
              <h1 class="title">
                FIND BEST EVENTS <br />
                AROUND THE WORLD
              </h1>
            </div>
        </div>
    </header>
</section>