<!DOCTYPE html>
<html>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,700;1,700&display=swap"
    rel="stylesheet"
  />
  <head>
    <title>Eventos de Ticketmaster</title>
    <link rel="stylesheet" type="text/css" href="/src/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="cards"></div>

      <div class="pagination"></div>
    </div>

    <div id="modal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <div class="mobile">
          <div class="modal-details">
            <img class="modal-poster" />
            <div class="modal-container">
              <div class="modal-info"></div>
              <div class="modal-buy-tickets"></div>
            </div>
          </div>
        </div>
        <div class="modal-more-info">
          <a class="more_info" href="#">More from this author</a>
        </div>
      </div>
    </div>

    <script src="./main.js"></script>
  </body>
</html>
