<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Ticketmaster API Example</title>
		<link rel="stylesheet" href="./style.css" />
	</head>
	<body>
		<div class="search-container">
			<input type="text" id="search-input" placeholder="start searching" />
			<select id="country-select">
				<option class="select_country" value="" disabled selected>
					Choose country
				</option>
				<option value="">Todos los países</option>
				<option value="DE">Alemania</option>
				<option value="AU">Australia</option>
				<option value="BR">Brasil</option>
				<option value="CA">Canadá</option>
				<option value="CL">Chile</option>
				<option value="DK">Dinamarca</option>
				<option value="ES">España</option>
				<option value="US">Estados Unidos</option>
				<option value="FI">Finlandia</option>
				<option value="NL">Holanda</option>
				<option value="GB">Inglaterra</option>
				<option value="IE">Irlanda</option>
				<option value="MX">México</option>
				<option value="NZ">Nueva Zelanda</option>
				<option value="NO">Noruega</option>
				<option value="SE">Suecia</option>
				<option value="TR">Turquía</option>
				<option value="GB">Reino Unido</option>
				<!-- Agrega más opciones de países según tus necesidades -->
			</select>
			<button id="search-button"></button>
		</div>
		<div id="posters-container"></div>

		<div id="event-info"></div>
		<div id="pagination"></div>
		<script src="main.js" type="module"></script>
	</body>
</html>
